{% extends "base.html" %}
{% block body %}
<h1>Admin</h1>
<form method=post>
    Name:
    <input type=text name="name2">
    Description:
    <input type=text name="description">
    Hours:
    <input type=text name="hours">
    Date:
    <input type=text name="date" value={{ today.strftime("%Y-%m-%d") }}>
    Time:
    <input type=text name="time" placeholder="12PM-4PM">
    Location:
    <input type=text name="location">
    Badge Name:
    <input type=text name="badgename">
    Badge:
   <input type="radio" name="badgeimage" value="/static/images/bluebadge2.png">
              <img src="..\static\images\bluebadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <input type="radio" name="badgeimage" value="/static/images/greenbadge2.png">
              <img src="..\static\images\greenbadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <input type="radio" name="badgeimage" value="/static/images/purplebadge2.png">
              <img src="..\static\images\purplebadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
  <input type="radio" name="badgeimage" value="/static/images/orangebadge3.png">
              <img src="..\static\images\orangebadge3.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <input type="submit" value="Submit">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
{% for user in users %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
</tr>
{% endfor %}
</table>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Hours</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Badge Name</th>
        <th>Badge Image</th>
        <th>Delete</th>
    </tr>
{% for opportunity in opportunities %}
<tr>
    <td>{{ opportunity.id }}</td>
    <td>{{ opportunity.name }}</td>
    <td>{{ opportunity.description }}</td>
    <td>{{ opportunity.hours }}</td>
    <td>{{ opportunity.date }}</td>
    <td>{{ opportunity.time }}</td>
    <th>{{ opportunity.location }}</td>
    <td>{{ opportunity.badge_name }}</td>
    <td>{{ opportunity.badge_image }}</td>
    <td><a href="/admin/delete/{{ opportunity.id }}">delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
