{% extends "base.html" %}
{% block body %}
<h1>Home</h1>
 {% if current_user.is_authenticated %}
  Hi {{ current_user.firstname }}!

  <h1>Your Score: {{ score }}</h1>
  <h1># of Opportunities Completed: {{ badges_opportunity|length }}</h1>
  <h1># of Badges: {{ badges|length }}</h1>
  <h1># of Hours: {{ hours }}</h1>
  <h1>Badges</h1>
  {% for opportunity in badges %}
  {{ opportunity.badge_name }} <img src="{{ opportunity.badge_image }}" />
  {% endfor %}

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Hours</th>
        <th>Date</th>
        <th>Badge Name</th>
        <th>Badge Image</th>
        <th>Complete</th>
    </tr>
{% for opportunity in opportunities %}
<tr>
    <td>{{ opportunity.id }}</td>
    <td>{{ opportunity.name }}</td>
    <td>{{ opportunity.description }}</td>
    <td>{{ opportunity.hours }}</td>
    <td>{{ opportunity.date }}</td>
    <td>{{ opportunity.badge_name }}</td>
    <td>{{ opportunity.badge_image }}</td>
    <td><a href="/complete/{{ opportunity.id }}">complete</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
