
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

    <link href="https://www.juniorachievement.org/junior-achievement-flat-2016-theme/images/favicon.ico" rel="Shortcut Icon" />

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #626366; font-family: 'Raleway', sans-serif;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../static/images/ja_favicon.png" style="width:42px; height: 42px; float: left;"/><a class="navbar-brand" href="#" style="color: white;">Inspire JA Triad</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" >

              <li><a href="#" style="color: white;">Welcome, {{ current_user.firstname }} {{
                      current_user.lastname}}</a></li>
            <li><a href="#" style="color: white;">Profile</a></li>
            <li><a href="/logout" style="color: white;">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="font-family: 'Raleway', sans-serif;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="background: #D3D3D3;">
          <ul class="nav nav-sidebar">
            <li class="active" style="text-align: center;"><a href="#" style="font-weight: bold;">Your Stats<span class="sr-only">(current)</span></a></li>
            <li class="text-center"><a href="#" style="font-weight: bold;"><b>Hours Completed: 70</a></li><br>
            <li class="text-center"><a href="#" style="font-weight: bold;">Opportunities Completed: 12</a></li><br>
            <li class="text-center"><a href="#" style="font-weight: bold;">Score: 2300</a></li><br>
            <li class="text-center"><a href="#" style="font-weight: bold;">Leaderboard Ranking: #1</a></li><br>          
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active" style="text-align: center;"><a href="#">JA Triad Leaderboard<span class="sr-only">(current)</span></a></li>
            <li class="text-center"><a href="#" style="font-weight: bold;">Varun - 2300</a></li>
            <li class="text-center"><a href="#">Nick - 2100</a></li>
            <li class="text-center"><a href="#">Bob - 2000</a></li>
          </ul>
        </div>

       <!--  <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active" style="text-align: center;"><a href="#">Total Hours<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Varun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2300</a></li>
            <li><a href="#">Nick&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2100</a></li>
            <li><a href="#">Bob&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2000</a></li>
          </ul>
        </div> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Volunteer Dashboard</h1>

          <div class="row placeholders">

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="..\static\images\bluebadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>JA Exploring Economics</h4>
              <span class="text-muted">50 Hours</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="..\static\images\greenbadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>New Milestone!</h4>
              <span class="text-muted">10 Opportunities Completed</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="..\static\images\purplebadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>JA Our City - Fourth Grade</h4>
              <span class="text-muted">30 Hours</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="..\static\images\orangebadge3.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>New Milestone!</h4>
              <span class="text-muted">First Opportunity Completed</span>
            </div>
          </div>

          <h2 class="sub-header">Upcoming Opportunities</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Opportunity</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th>Sign-up</th>
                </tr>
              </thead>
              <tbody>
                  {% for opportunity in opportunities %}
                  <tr>
                      <td>{{ opportunity.date.strftime("%m/%d/%Y") }}</td>
                      <td>{{ opportunity.name }}</td>
                      <td>{{ opportunity.time }}</td>
                      <td>{{ opportunity.location }}</td>
                      <td><a href="/complete/{{ opportunity.id}}">Sign-up</a></td>
                   <tr>
                    {% endfor %}
                <tr>
                  <td>11/1/2016</td>
                  <td>JA Economics for Success</td>
                  <td>12:00PM - 3:00PM</td>
                  <td>Junior Achievement of the Triad</td>
                </tr>
                <tr>
                  <td>11/17/2016</td>
                  <td>JA Our Nation - Fifth Grade</td>
                  <td>9:00 AM - 11:00 AM</td>
                  <td>Junior Achievement of the Triad</td>
                </tr>
                <tr>
                  <td>12/6/2016</td>
                  <td>JA It's My Future</td>
                  <td>1:00 PM - 5:00PM</td>
                  <td>Junior Achievement of the Triad</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="sub-header">Past Opportunities</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Opportunity</th>
                  <th>Time</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10/17/2016</td>
                  <td>JA Economics for Success</td>
                  <td>11:00PM - 2:00PM</td>
                  <td>Junior Achievement of the Triad</td>
                </tr>
                <tr>
                  <td>>10/3/2016</td>
                  <td>JA Our Nation - Fifth Grade</td>
                  <td>8:30 AM - 11:00 AM</td>
                  <td>Junior Achievement of the Triad</td>
                </tr>
                <tr>
                  <td>9/23/2016</td>
                  <td>JA It's My Future</td>
                  <td>2:30 PM - 6:00PM</td>
                  <td>Junior Achievement of the Triad</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
