
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Administrator Dashboard</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

    <link href="https://www.juniorachievement.org/junior-achievement-flat-2016-theme/images/favicon.ico" rel="Shortcut Icon" />

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #626366; font-family: 'Raleway', sans-serif;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../static/images/ja_favicon.png" style="width:42px; height: 42px; float: left;"/><a class="navbar-brand" href="#" style="color: white;">Inspire JA Triad</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color: white;">Welcome, Admin</a></li>
            <li><a href="#" style="color: white;">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="font-family: 'Raleway', sans-serif;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active" style="text-align: center;"><a href="#" style="font-weight: bold; background: #8cc63e;">JA Triad Leaderboard<span class="sr-only">(current)</span></a></li>
            <li class="text-center"><img src="../static/images/trophy.png" style="width:32px; height: 32px; float: left;"/><a href="#" style="font-weight: bold;">Varun - 2300</a></li>
            <li class="text-center"><a href="#">Nick - 2100</a></li>
            <li class="text-center"><a href="#">Bob - 2000</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active" style="text-align: center;"><a href="#" style="font-weight: bold; background: #8cc63e;">Company/Group Leaderboard<span class="sr-only">(current)</span></a></li>
            <li class="text-center"><a href="#" style="font-weight: bold;">Lincoln Financial Group - 25600</a></li>
            <li class="text-center"><a href="#">Guilford County Schools - 21000</a></li>
            <li class="text-center"><a href="#">SunTrust Banks - 16000</a></li>
          </ul>
        </div>

       <!--  <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active" style="text-align: center;"><a href="#">Total Hours<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Varun&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2300</a></li>
            <li><a href="#">Nick&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2100</a></li>
            <li><a href="#">Bob&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2000</a></li>
          </ul>
        </div> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Administrator Dashboard</h1>

          <h2 class="sub-header">Create an Opportunity</h2>
          <form class="form-signin" action="" method=post>
            <label for="name2" class="sr-only">Name</label>
            <input name="name2" type="text" id="name2" class="form-control" placeholder="Opportunity Name" required autofocus>
            <label for="description" class="sr-only">Description</label>
            <input name="description" type="text" id="description" class="form-control" placeholder="Description" required>
           <label for="hours" class="sr-only">Hours</label>
            <input name="hours" type="text" id="hours" class="form-control" placeholder="12" required>
            <label for="date" class="sr-only">Date</label>
            <input name="date" type="text" id="date" class="form-control" value="{{today.strftime("%Y-%m-%d")}}" placeholder="Date" required>
            <label for="time" class="sr-only">Time</label>
            <input name="time" type="text" id="description" class="form-control" placeholder="Time: 12PM-1AM" required>
            <label for="location" class="sr-only">Location</label>
            <input name="location" type="text" id="location" class="form-control" placeholder="Location" required>
            <label for="badgename" class="sr-only">Badge Name</label>
            <input name="badgename" type="text" id="badgename" class="form-control" placeholder="Badge Name" required>

          <h4 class="sub-header">Choose a Badge</h3>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
               <input name="badgeimage" value="/static/images/bluebadge2.png" type="radio">
              <img  class="img-responsive" src="/static/images/bluebadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <input name="badgeimage" value="/static/images/greenbadge2.png" type="radio">
              <img class="img-responsive" src="/static/images/greenbadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <input name="badgeimage" value="/static/images/purplebadge2.png" type="radio">
              <img class="img-responsive" src="/static/images/purplebadge2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <input name="badgeimage" value="/static/images/orangebadge2.png" type="radio">
              <img class="img-responsive" src="/static/images/orangebadge3.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
          </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit" style="background: #8cc63e">Create</button>
          </form>

          <h2 class="sub-header">All Opportunities</h2>
          <div class="table-responsive">
            <table class="table table-striped">
         <tbody><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Hours</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Badge Name</th>
        <th>Badge Image</th>
        <th>Delete</th>
    </tr>
{% for opportunity in opportunities %}
<tr>
    <td>{{ opportunity.id }}</td>
    <td>{{ opportunity.name }}</td>
    <td>{{ opportunity.description }}</td>
    <td>{{ opportunity.hours }}</td>
    <td>{{ opportunity.date }}</td>
    <td>{{ opportunity.time }}</td>
    <th>{{ opportunity.location }}</td>
    <td>{{ opportunity.badge_name }}</td>
    <td>{{ opportunity.badge_image }}</td>
    <td><a href="/admin/delete/{{ opportunity.id }}">delete</a></td>
</tr>
{% endfor %}
</tbody></table>

          </div>
          <h2 class="sub-header">Verify Opportunities</h2>
          <div class="table-responsive">
            <table class="table table-striped">
    <tbody>
    <tr>
        <th>Name</th>
        <th>Opportunity</th>
        <th>Verify</th>
    </tr>

{% for opportunity in opportunities %}
{% for userop in opportunity.userops %}
{% if userop.verified == false %}
<tr>
    <td>{{ userop.user.firstname }} {{userop.user.lastname}}</td>
    <td>{{ opportunity.name }}</td>
    <td><a href="/verify/{{userop.user.id}}/{{opportunity.id}}">Verify</a></td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}

</tbody></table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
